*{
    margin: 6px;
    padding: 0%;
    box-sizing: border-box;
}
h5, p, a, span, form, input, select, textarea, option, button, div, h1, h2, h3, h4, nav, footer {font-family: 'DotGothic16', sans-serif;}
body{
    background: #fcfcfc;
}
header{
    position: absolute;
    top: 0;
    left: 370px;
    width: 60%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 240px;
   
}
nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in;
}
.sign{
    padding: 8px 19px;
    border-radius: 30px;
    background: rgb(252,100,132);
    margin-right: 10px;
    transition: opacity .3s ease;
    color: white;
    text-decoration: none;
}
.sign:hover{
    opacity: .7;

}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(92, 91, 91);
    height: 260px;
    width: 100vw;
    padding-top: 52px;
    color: #fff;
}
.contenido-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;  
}
.footer-bottom{
    text-align: center;
    height: auto;
    width: 100vw;
    height: auto;
    padding-top: 24px;
}